<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133165936078-h7qt5kqsev90h7epccpvdrjg0g4up3l4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133165936078-h7qt5kqsev90h7epccpvdrjg0g4up3l4</string>
	<key>API_KEY</key>
	<string>AIzaSyCyemZz9GBseEng_ckbmT525AQP3xCrRmY</string>
	<key>GCM_SENDER_ID</key>
	<string>133165936078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cgvClone</string>
	<key>PROJECT_ID</key>
	<string>cgv-clone-2</string>
	<key>STORAGE_BUCKET</key>
	<string>cgv-clone-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133165936078:ios:e6b2bd8a32192ae91fcf9f</string>
</dict>
</plist>